- append_javascript 'rhinogallery/images_uploader'
- append_stylesheet 'rhinogallery/application'

.offset1
  %h1.offset-bottom1= "#{t('rhinogallery._GALLERY_LOADING_IMAGES')}: #{@gallery.name}"
  #uploader
  .form-actions
    .btn-overlay
      %a.btn.btn-primary(href="#{gallery_path(@gallery)}")= t(:_BACK)

:javascript
  window.gallery_images_path = '#{gallery_images_path(@gallery)}';