- provide(:title, "#{t('rhinogallery._GALLERY')}: #{@gallery.name}" )
- append_javascript 'lightbox'
- append_stylesheet 'lightbox'

.span12
  .row-fluid.show-grid.offset-bottom1
    .span3
      = image_tag @gallery.image.thumb.url
    .span9
      %h1= @gallery.name
      %span= @gallery.description
  .row-fluid.show-grid.offset-bottom1
    = link_to(t(:_BTN_DELETE), @gallery, {:method => :delete, 'data-confirm' => 'Are you sure?', :class => 'btn btn-warning'})
    = link_to(t(:_BTN_EDIT), edit_gallery_path(@gallery), :class => 'btn btn-primary')
    = link_to(t(:_BTN_ADD_IMAGES), load_images_gallery_path(@gallery), :class => 'btn btn-success')
  .row-fluid.show-grid
    .span2
      %strong Images:
  .row-fluid.show-grid.offset-bottom1
    .thumbnails
      - @gallery.images.in_groups_of(4, false) do |grp|
        .row-fluid
          - grp.each_with_index do |image, i|
            .span3.text-center.offset-bottom1
              .thumbnail
                %a.image(href="#{image.image.large.url}" data-lightbox="image-#{image.id}")
                  = image_tag image.image.thumb.url
                .caption
                  %h3=image.name
                  = link_to t(:_BTN_DELETE), image, {:method => :delete, 'data-confirm' => 'Are you sure?', :class => 'btn btn-warning'}
                  = link_to t(:_BTN_EDIT), edit_gallery_image_path(@gallery, image), :class => 'btn btn-primary'
